:root {
  font-family: 'Pretendard';

  color-scheme: dark;

  --transparent-opacity: 0.35;

  font-synthesis: none; /* 폰트 합성 방지 */
  text-rendering: optimizeLegibility; /* 텍스트 렌더링 최적화 */
  -webkit-font-smoothing: antialiased; /* 웹킷 브라우저 폰트 부드럽게 */
  -moz-osx-font-smoothing: grayscale; /* 모질라 브라우저 폰트 부드럽게 */
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2');
}

body {
  min-width: 1180px;
  min-height: 100vh;

  --background: #2b2b2b;
  --white: #ffffff;
  --light-gray: #dadada;
  --gray: #5a5a5a;
  --black: #161616;

  --red: #d75656;
  --green: #3dbc8d;

  --red-input: rgba(215, 86, 86, var(--transparent-opacity));
  --green-input: rgba(61, 188, 141, var(--transparent-opacity));
  --input: rgba(218, 218, 218, var(--transparent-opacity));
  --modal-bg: rgba(43, 43, 43, var(--transparent-opacity));

  --container: #3b3b3b;
  --icon: #a4a3a3;

  background-color: var(--background);
  color: var(--white);
}

body.light {
  min-width: 1180px;
  min-height: 100vh;

  --background: #fffefb;
  --white: #ffffff;
  --light-gray: #eae9e6;
  --gray: #9f9d98;
  --black: #4e4d4c;

  --red: #f26c6c;
  --green: #3dbc8d;

  --red-input: rgba(242, 108, 108, var(--transparent-opacity));
  --green-input: rgba(61, 188, 141, var(--transparent-opacity));
  --input: rgba(234, 233, 230, var(--transparent-opacity));
  --modal-bg: rgba(78, 77, 76, var(--transparent-opacity));

  --container: var(--light-gray);
  --icon: var(--gray);

  background-color: var(--background);
  color: var(--black);
}
